<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581367507221-rs2e4dhl06hn6tc055shtuj6sotj2pv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581367507221-rs2e4dhl06hn6tc055shtuj6sotj2pv9</string>
	<key>API_KEY</key>
	<string>AIzaSyBwU_7yRjE2bfPb4I1mm-rBa6Ran2HAZBk</string>
	<key>GCM_SENDER_ID</key>
	<string>581367507221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-2ecd6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-2ecd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581367507221:ios:3c005e1c95b930917c611c</string>
</dict>
</plist>